<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | شرکت مهندسی کسرا</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @Styles.Render("~/Content/KasraStyles")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="main-header">
        <img alt="شرکت مهندسی کسرا | نرم افزار حضور و غیاب، تردد، اتوماسیون تغذیه" src="~/Content/Images/logo.png">
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div id="are-you-sure" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>آیا مطمئن هستید؟</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="k-btn yes-btn">بله</button>
                    <button type="button" class="k-btn k-btn-second" data-bs-dismiss="modal">خیر</button>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"></div>
    <div class="loader-container d-none"><div class="loader"></div></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/KasraScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
